
Beckn/bin/Debug/Beckn.DSEP.1.0.1.nupkg
Beckn/bin/Debug/netstandard2.1/Beckn.deps.json
Beckn/bin/Debug/netstandard2.1/Beckn.dll
Beckn/bin/Debug/netstandard2.1/Beckn.pdb
Beckn/obj/Debug/Beckn.DSEP.1.0.1.nuspec
Beckn/obj/Debug/netstandard2.1/Beckn.AssemblyInfo.cs
Beckn/obj/Debug/netstandard2.1/Beckn.AssemblyInfoInputs.cache
Beckn/obj/Debug/netstandard2.1/Beckn.dll
Beckn/obj/Debug/netstandard2.1/Beckn.pdb
